.hColor {
    color: rgb(63, 65, 68);
}

.hlColor {
    color: rgb(145, 147, 150);
}

.hsColor {
    color: #0466c8;
}

.hvColor {
    color: rgb(18, 121, 253);
}

.wColor {
    color: #f7fdff;
}

.bgColor {
    background-color: #ffffff;
}

.caColor {
    background-color: #ffffff00;
}

.navColor {
    background-color: rgb(245, 245, 245);
}
