.desktop {
    display: initial;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 768px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: initial;
    }
}
