<body>
      <div class="container-fluid">
        <!--<img src="banner.jpg" class="img-fluid rounded mx-auto" alt="...">-->
        <div class="container">
            <div class="container" style="padding-top: 0rem;">
              <div class="container-fluid text-center">
                <img draggable="false" src="wm2.jpg" class="img-fluid" style="min-height: 27rem; height: 27rem; text-align: center; object-fit:scale-down;">
              </div>
                <div class="container" style="padding-top: 0rem;">
                    <div class="row gy-1">
                      <div class = "col text-center">
                          <h1 class="display-1 fw-semibold">
                              Find Data With Ease.
                          </h1>
                          <h4 class="text-body-secondary">
                              All Players, All Teams, All Leagues. Just Pure Data And Statistics.
                          </h4>

                      </div>
                    </div>
                    <div class="container m-auto" style="padding: 4rem 0rem 3rem 0rem;">
                      
                      <div class="row">
                        <div class="col" style="min-width: 18rem;">
                          <div class="card mb-3">
                            <img src="banner.jpg" class="card-img-top" alt="..." style="height: 15rem; object-fit: cover; object-position: center;">
                            <div class="card-body">
                              <h5 class="card-title">Football</h5>
                              <p class="card-text">Find live matches, compare your favorite footballers.</p>
                              <a href="sportPage.html" class="btn btn-primary">Select</a>
                            </div>
                          </div>
                        </div>
                        <div class="col" style="min-width: 18rem;">
                          <div class="card mb-3">
                            <img src="basket2.jpg" class="card-img-top" alt="..." style="height: 15rem; object-fit: cover; object-position: center;">
                            <div class="card-body">
                              <h5 class="card-title">Basketball</h5>
                              <p class="card-text">Find live matches, compare your favorite footballers.</p>
                              <a href="#" class="btn btn-primary">Select</a>
                            </div>
                          </div>
                        </div>
                        <div class="col" style="min-width: 18rem;">
                          <div class="card mb-3">
                            <img src="volleyball.jpg" class="card-img-top" alt="..." style="height: 15rem; object-fit: cover; object-position: center;">
                            <div class="card-body">
                              <h5 class="card-title">Volleyball</h5>
                              <p class="card-text">Find live matches, compare your favorite footballers.</p>
                              <a href="#" class="btn btn-primary">Select</a>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
            </div>
        </div>
      </div>
      
      <div class="sticky-bottom bg-body-tertiary ps-2 pe-2 rounded-top-4">
        <div class="container-fluid">
          <div class="row">
          <a href="login.html" class="nav-link align-items-center text-center col-3 mt-3">
            <div class="row">
              <i class="fa-solid fa-house"></i>
            </div>
            <div class="row">
              <p class="mb-2" style="font-size: small;">Home</p>
            </div>
          </a>
          <a href="login.html" class="nav-link align-items-center text-center col-3 mt-3">
            <div class="row">
              <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="row">
              <p class="mb-2" style="font-size: small;">Search</p>
            </div>
          </a>
          <a href="login.html" class="nav-link align-items-center text-center col-3 mt-3">
            <div class="row">
              <i class="fa-solid fa-hashtag"></i>
            </div>
            <div class="row">
              <p class="mb-2" style="font-size: small;">Social</p>
            </div>
          </a>
          <a href="profile.html" class="nav-link text-center col-3 mt-2">
            <div class="row">
              <div class="card pt-0 ms-auto me-auto" style="min-width: 1.5rem; max-width: 1.5rem; max-height: 1.5rem; aspect-ratio: 1/1; overflow: hidden; object-fit: cover;">
                <img src="pp.jpg" class="card-img" alt="Profil Fotoğrafı" style="height: 100%; width: 1.5rem; object-fit: cover; object-position: center; margin-left: -0.75rem;">
              </div>
            </div>
            <div class="row">
              <p class="mb-0" style="font-size: small;">Profile</p>
            </div>
            
          </a>
          
          </div>
          
        </div>
      </div>
      <script src="https://kit.fontawesome.com/d595045afe.js" crossorigin="anonymous"></script>
</body>
