@{
    ViewBag.CurrentUrl = "~/Account/Login";
}
@model RosanicSocial.Domain.DTO.LoginDTO
<body>
    <div id="main-wrapper" class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="card border-1 overflow-hidden">
                    <div class="card-body p-0">
                        <div class="row no-gutters">
                            <div class="col-sm-8 col-md-7 col-lg-6 pe-0 me-0">
                                <div class="p-5 pt-4">
                                    <div class="mb-5">
                                        <h3 class="h4 font-weight-bold text-primary">Login</h3>
                                    </div>

                                    <h6 class="h5 mb-0">Welcome back to <span class="text-primary">WildSports</span></h6>
                                    <p class="text-muted mt-2 mb-5">You can use your existing <span class="text-black">WildRose</span> account to login.</p>

                                    <form asp-controller="Account" asp-action="Login" asp-route-ReturnUrl="@Context.Request.Query["ReturnUrl"]" method="post">
                                        <div class="form-group mb-4">
                                            <p class="text-muted mt-2 mb-1">Username</p>
                                            <div class="input-group">
                                                <span class="input-group-text opacity-50"><i class="fa fa-user"></i></span>
                                                <input asp-for="Username" type="text" class="form-control" id="usernameOrEmail" placeholder="Type your username" required>
                                            </div>
                                        </div>
                                        <div class="form-group mb-5">
                                            <p class="text-muted mt-2 mb-1">Password</p>
                                            <div class="input-group">
                                                <span class="input-group-text opacity-50"><i class="fa fa-lock"></i></span>
                                                <input asp-for="Password" type="password" class="form-control" id="password" placeholder="Type your password" required>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Login</button>

                                        <div asp-validation-summary="All"></div>

                                        @if (ViewBag.Errors is not null) {
                                            <div class="card text-bg-danger">
                                                <div class="card-header">
                                                    <h6>There are some errors!</h6>
                                                </div>
                                                <div class="card-body">
                                                    <div class="row">
                                                        @foreach (string error in ViewBag.Errors) {
                                                            <div class="col"><i class="fa-solid fa-warning"></i>@error</div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </form>
                                </div>
                            </div>

                            <div class="col-sm-4 col-md-5 col-lg-6 d-none d-sm-inline d-md-inline-block d-lg-inline-block ps-0 ms-0 overflow-hidden">
                                <div class="account-block rounded-right" style="background-image: url(banner.jpg);">
                                    <div class="overlay rounded-right"></div>
                                    <div class="account-testimonial">
                                        <h4 class="text-white mb-4">All Sports In One Place</h4>
                                        <p class="lead text-white d-none d-md-inline-block">All the data you want, all the interaction you can want.</p>
                                        <p class="d-none d-md-inline-block">WildSports</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end card-body -->
                </div>
                <!-- end card -->

                <p class="text-muted text-center mt-3 mb-0">Don't have an account? <a href="register" class="text-primary ml-1">Register</a></p>

                <!-- end row -->

            </div>
            <!-- end col -->
        </div>
        <!-- Row -->
    </div>
</body>
