@model RosanicSocial.Domain.DTO.RegisterDTO
@{
    ViewBag.Title = "Register";
    ViewBag.CurrentUrl = "~/Account/Register";
}

<body>
    <div id="main-wrapper" class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="card border-1 overflow-hidden">
                    <div class="card-body p-0">
                        <div class="row no-gutters">
                            <div class="col-sm-8 col-md-7 col-lg-6 pe-0 me-0">
                                <div class="p-5 pt-4">
                                    <div class="mb-5">
                                        <h3 class="h4 font-weight-bold text-primary">Register</h3>
                                    </div>

                                    <h6 class="h5 mb-0">Create a <span class="text-primary">WildRose</span> Account</h6>
                                    <p class="text-muted mt-2 mb-5">And connect it to <span class="text-black">WildSports</span></p>

                                    <form asp-controller="Account" asp-action="Register" method="post">
                                        <div class="form-group mb-4">
                                            <p class="text-muted mt-2 mb-1">First Name</p>
                                            <div class="input-group">
                                                <span class="input-group-text opacity-50"><i class="fa fa-user"></i></span>
                                                <input asp-for="FirstName" type="text" class="form-control" id="firstName" placeholder="Type your First Name" required>
                                            </div>
                                        </div>
                                        <div class="form-group mb-4">
                                            <p class="text-muted mt-2 mb-1">Last Name</p>
                                            <div class="input-group">
                                                <span class="input-group-text opacity-50"><i class="fa fa-user"></i></span>
                                                <input asp-for="LastName" type="text" class="form-control" id="lastName" placeholder="Type your Last Name" required>
                                            </div>
                                        </div>
                                        <div class="form-group mb-4">
                                            <p class="text-muted mt-2 mb-1">Username</p>
                                            <div class="input-group">
                                                <span class="input-group-text opacity-50"><i class="fa fa-at"></i></span>
                                                <input asp-for="UserName" type="text" class="form-control" id="userName" placeholder="Type your username" required>
                                            </div>
                                            <span class="opacity-75" style="color: red" asp-validation-for="UserName"></span>
                                        </div>
                                        <div class="form-group mb-4">
                                            <p class="text-muted mt-2 mb-1">E-mail</p>
                                            <div class="input-group">
                                                <span class="input-group-text opacity-50"><i class="fa fa-envelope"></i></span>
                                                <input asp-for="Email" type="email" class="form-control" id="registerEmail" placeholder="Type your E-Mail" required>
                                            </div>
                                        </div>
                                        <div class="form-group mb-5">
                                            <p class="text-muted mt-2 mb-1">Password</p>
                                            <div class="input-group">
                                                <span class="input-group-text opacity-50"><i class="fa fa-lock"></i></span>
                                                <input asp-for="Password" type="password" class="form-control" id="registerPassword" placeholder="Create your password" required>
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-primary">Continue</button>
                                        <div asp-validation-summary="All"></div>

                                        @if (ViewBag.Errors is not null) {
                                            <div class="card text-bg-danger">
                                                <div class="card-header">
                                                    <h6>There are some errors!</h6>
                                                </div>
                                                <div class="card-body">
                                                    <div class="row">
                                                        @foreach (string error in ViewBag.Errors) {
                                                            <div class="col"><i class="fa-solid fa-warning"></i>
                                                                <p class="opacity-75" style="color: red">@error</p>
                                                                </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </form>
                                </div>
                            </div>

                            <div class="col-sm-4 col-md-5 col-lg-6 d-none d-sm-inline d-md-inline-block d-lg-inline-block ps-0 ms-0 overflow-hidden">
                                <div class="account-block rounded-right" style="background-image: url(banner.jpg);">
                                    <div class="overlay rounded-right"></div>
                                    <div class="account-testimonial">
                                        <h4 class="text-white mb-4">All Sports In One Place</h4>
                                        <p class="lead text-white d-none d-md-inline-block">All the data you want, all the interaction you can want.</p>
                                        <p class="d-none d-md-inline-block">WildSports</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end card-body -->
                </div>
                <!-- end card -->

                <p class="text-muted text-center mt-3 mb-0">Already have an account? <a asp-action="Login" asp-controller="Account" class="text-primary ml-1">Login</a></p>

                <!-- end row -->

            </div>
            <!-- end col -->
        </div>
        <!-- Row -->
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js" integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>